/* app/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container-work:hover {
  @apply transform hover:scale-105;
}

.header-link-style {
  @apply mr-8 font-bold;
  font-size: 1.2rem;
}

.header-link-style:hover {
  @apply underline;
}

/* Use Tailwind utilities as intended in the comment:
   max-w-6xl mx-auto px-4 py-4 */
.all-content {
  @apply mx-auto px-[5rem] py-[2rem];
}

.common-section {
  @apply px-[5rem] mt-[5rem];
}

@screen sm {
  .all-content {
    /* @apply mx-auto px-[5rem] py-[2rem]; */
  }
  .common-section {
  }
}

.common-section h2 {
  @apply text-4xl font-bold mb-6;
}

.common-section h3 {
  @apply text-2xl font-semibold mb-4;
}

.common-section p {
  @apply text-base leading-normal;
}
